*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    display: flex;
    align-items: center;
    padding: 3rem;
    justify-content: space-between;
}
.headerScroll{
    background-color:#ffffff;
}
a{
    margin: 0 50px;
}
.navbar-toggler{
    font-size: 15px;
}
.divBackground{
    width: 100%;
    height: 800px;
    background-image: url(media/Untitled\ design.png);
    background-repeat: no-repeat;
    background-size:cover;
} 
.divText{
    width: 100%;
    height: 150px;
    background-color: #a1bd9e;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.divText p{
    letter-spacing: 2px;
    font-size: 15px;
}
.divText_2{
    width: 100%;
    height: 150px;
    background-color: #a1bd9e;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}
.divText_2 svg{
    margin: 0 20px;
}
.about{
    margin: 100px 150px;
    display: flex;
    justify-content: space-around;
}
.about img{
    height: 300px;
    width: 500px;
}
.about_p{
    margin: 0 50px;
}
.divCards{
    margin:50px 0;
    width: 100%;
    height: 700px;
    background-color:#fff;
    text-align: center;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    margin-left: 80px;
}
.card{
    margin: 10px;
    width: 16rem;
}
.btnAdd{
    background-color: #a1bd9e;
    border: transparent;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    color: #1c1c1c;
}
.form{
    margin: 150px ;
    border-radius: 10px;
    background-color: #a1bd9e;
    text-align:center ;
}
.form button{
    margin: 20px;
    background-color: #ffffff;
    border: transparent;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}
.form input{
    text-align: center;
}
.form_p{
    padding: 20px 0;
    font-size: 25px;
}
.form2{
    margin: 30px;
}
.form-control{
    text-align: center;
}
#alertEmptyfields{
    color:black;
    font-size: 15px;
}
footer{
    width: 100%;
    height: 200px;
    background-color: #a1bd9e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
svg{
    margin: 0 12px;
    text-align: start;
}
.contact{
    text-align: end;
}
.openNav{
    display: none;
}
.closeNav{
    display: none;
}
@media screen and (max-width: 806px) {
   
    header{
        justify-content: space-between;
    }
    a{
        top: 0;
        right: 0;
        left: 0;
        margin: 0;
    }
    .divBackground{
        height: 450px;
        background-size:cover;
    }
    .divText{
        padding: 0 20px;
        justify-content: space-evenly;
        align-items: center;
    }
    .divText p{
        font-size: 11px;
    }
    .divText_2{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 25px;
    }
    .about{
        margin: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .about img{
         height: 200px;
         width: 300px;
    }
    .about_p{
        text-align:center;
        padding-top: 20px;
        margin: 0 10px;
    }
    
    footer{
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    .contact{
        text-align: center;
        letter-spacing: 1px;
    }
    .divCards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: 1200px;
        left: 0;
        margin: 20px 10px;
    }
    .card{
        margin: 5px;
        width: 10rem;
    }
    .card button{
        width: 100px;
    }
    .form{
        text-align: center;
        padding: 20px;
        margin: 50px 50px;
        height: 550px;
    }   
}